body{
    margin: 0px;
    padding: 0px;
}
.nav{

   text-align: center;
    font-size: 30px;
    height: 50px;
    padding: 10px;
    background-color: #000000af;
}
.nav a{
    color: white;
    text-decoration: none;
    
    margin: 50px;
}

.footer{
    padding: 10px;
    text-align: center;
    font-size: 30px;
    height: 50px;
    background-color: #000000af;
   
}
.footer a{
    
    color: white;
    text-decoration: none;
    margin: 50px;
}
