<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/Assigment.css">
</head>
<body>
    <div class="form-container">
        <h1>Ingrese los datos Para la Asignar la tarea</h1>
        <input type="text" placeholder="Ingrese el Título" class="input-field">
        <textarea placeholder="Descripción o detalles" class="textarea-field"></textarea>
        <div class="date-container">
            <input type="date" placeholder="Fecha Solicitud" class="input-field">
            <input type="date" placeholder="Fecha Entrega" class="input-field">
        </div>
        <input type="text" placeholder="Destinatario" class="input-field">
        <button class="submit-button">Enviar</button>
    </div>
    
    
</body>
</html>