<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/Assigment.css">
    <link rel="stylesheet" href="/CSS/NavFooter.css">
</head>
<body>
    <nav class="nav">
        <a th:href="@{/Tasks}">Ver Tareas</a>
        <a th:href="@{/Session}">iniciar Sesion</a>
        <a th:href="@{/Assigment}">Asignar</a>
    </nav>
    <div class="form-container">
        <form th:action="@{/SaveTask}" th:object="${task}" method="POST">
            <h1>Ingrese los datos Para la Asignar la tarea</h1>
            <input type="hidden" th:field="*{idtarea}">
        <input type="text" placeholder="Ingrese el Título" class="input-field" th:field="*{titulo}">
        
        <textarea placeholder="Descripción o detalles" class="textarea-field" th:field="*{descripcion}"></textarea>
        
        <div class="date-container">
            <input type="date" placeholder="Fecha Solicitud" class="input-field" th:field="*{fechai}">
            <input type="date" placeholder="Fecha Entrega" class="input-field" th:field="*{fechaf}">
        </div>
        
        <input type="text" placeholder="Destinatario" class="input-field" th:field="*{destinatario}">
        <input type="text" placeholder="Destinatario" class="input-field" th:field="*{usuario}">
        
        <input type="submit" value="ARegistrar" class="form-itemsIn" id="">
        
        </form>
        
    </div>
    <footer  class="footer">
        <a th:href="@{/}">Volver</a>
</footer>
    
</body>
</html>