<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/Session.css">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Iniciar Sesión</h2>
            <div class="avatar"></div>
            <form>
                <div class="textbox">
                    <input type="text" placeholder="Nombre" name="username" required>
                </div>
    
                <div class="textbox">
                    <input type="password" placeholder="Contraseña" name="password" required>
                </div>
    
                <input type="submit" class="btn" value="Iniciar">
            </form>
        </div>
    </div>
    
</body>
</html>