<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/CSS/TaskPage.css">
</head>
<body>
    <div class="container">
        <h1>Titulo</h1>
        <p class="Description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro ipsum atque hic optio aliquid ipsam, sequi exercitationem repellendus quae assumenda animi voluptates? Autem sint a harum inventore deleniti sed dignissimos! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima nostrum tempora laudantium natus, sit in nisi aliquam dolores ducimus ad debitis soluta, accusantium doloremque voluptas dicta magnam impedit optio qui. Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, tenetur mollitia nostrum itaque qui hic ullam facere dignissimos, possimus ut ratione cumque. Corrupti fuga quos facilis perferendis commodi omnis earum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem possimus sunt nam nobis officia vero, magni velit molestias, quaerat iure odio laudantium labore ratione, inventore quisquam dicta tempora. Minus, at!</p>
        <p>Autor:</p>
        <p class="important">David FloresQ</p>

        <p>Fecha de publicación</p>
        <p class="important">20/07/2022</p>
        <p>Fecha de entrega</p>
        <p class="important">20/07/2022</p>
        <p>Estado:</p>
        <p class="statusTask">Completada</p>
    </div>
</body>
</html>
