<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/Taskingcontainer.css">
    <link rel="stylesheet" href="/CSS/NavFooter.css">
</head>
<body>
    <nav class="nav">
        <a th:href="@{/Tasks}">Ver Tareas</a>
        <a th:href="@{/Session}">iniciar Sesion</a>
        <a th:href="@{/Assigment}">Asignar</a>
    </nav>
    <div class="card-container">
        <div class="card">
            <div class="card-header">
                <h1>Objetivo-Formulario</h1>
                <p>DavidFloresQuiñones</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum totam est officiis eveniet accusantium sequi vel autem nesciunt dignissimos asperiores assumenda maxime nulla, cumque fuga animi, reiciendis necessitatibus obcaecati voluptates Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint consectetur fugit, illo modi, rem saepe possimus quis minima debitis at nesciunt similique error excepturi. Error quae in quod neque libero?</p>
            <div class="card-info">
                <p><strong>Destinatario</strong>: David Flores</p>
                <p><strong>fechaPedido</strong>: 2023-12-13</p>
                <p><strong>fechaEntrega</strong>: 2023-12-13</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Objetivo-Formulario</h1>
                <p>DavidFloresQuiñones</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum totam est officiis eveniet accusantium sequi vel autem nesciunt dignissimos asperiores assumenda maxime nulla, cumque fuga animi, reiciendis necessitatibus obcaecati voluptates Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint consectetur fugit, illo modi, rem saepe possimus quis minima debitis at nesciunt similique error excepturi. Error quae in quod neque libero?</p>
            <div class="card-info">
                <p><strong>Destinatario</strong>: David Flores</p>
                <p><strong>fechaPedido</strong>: 2023-12-13</p>
                <p><strong>fechaEntrega</strong>: 2023-12-13</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Objetivo-Formulario</h1>
                <p>DavidFloresQuiñones</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum totam est officiis eveniet accusantium sequi vel autem nesciunt dignissimos asperiores assumenda maxime nulla, cumque fuga animi, reiciendis necessitatibus obcaecati voluptates Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint consectetur fugit, illo modi, rem saepe possimus quis minima debitis at nesciunt similique error excepturi. Error quae in quod neque libero?</p>
            <div class="card-info">
                <p><strong>Destinatario</strong>: David Flores</p>
                <p><strong>fechaPedido</strong>: 2023-12-13</p>
                <p><strong>fechaEntrega</strong>: 2023-12-13</p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Objetivo-Formulario</h1>
                <p>DavidFloresQuiñones</p>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum totam est officiis eveniet accusantium sequi vel autem nesciunt dignissimos asperiores assumenda maxime nulla, cumque fuga animi, reiciendis necessitatibus obcaecati voluptates Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sint consectetur fugit, illo modi, rem saepe possimus quis minima debitis at nesciunt similique error excepturi. Error quae in quod neque libero?</p>
            <div class="card-info">
                <p><strong>Destinatario</strong>: David Flores</p>
                <p><strong>fechaPedido</strong>: 2023-12-13</p>
                <p><strong>fechaEntrega</strong>: 2023-12-13</p>
            </div>
        </div>
    </div>
    
    
    <footer  class="footer">
        <a th:href="@{/}">Volver</a>
</footer>
</body>
</html>