<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/Taskingcontainer.css">
    <link rel="stylesheet" href="/CSS/NavFooter.css">
</head>
<body>
    <nav class="nav">
        <a th:href="@{/Tasks}">Ver Tareas</a>
        <a th:href="@{/Session}">iniciar Sesion</a>
        <a th:href="@{/Assigment}">Asignar</a>
    </nav>
    <div class="card-container">
        
        <div class="card" th:each="task : ${tasks}">
            <p th:text="${task.idtarea}">id</p>
            <div class="card-header">
                <h1 th:text="${task.titulo}">Titulo</h1>
                <p th:text="${task.usuario}">Autor</p>
            </div>
            <p th:text="${task.descripcion}">descripcion</p>
            <div class="card-info">
                <p th:text="${task.destinatario}"><strong >Destinatario</strong>: Destinatario</p>
                <p th:text="${task.fechai}"><strong>fechaPedido:</strong>fechaInicial</p>
                <p th:text="${task.fechaf}"><strong>fechaEntrega</strong>fechaFinal</p>
            </div>
        </div>
        
    <footer  class="footer">
        <a th:href="@{/}">Volver</a>
</footer>
</body>
</html>     