<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
<link rel="stylesheet" href="/CSS/TaskPage.css">
<link rel="stylesheet" href="/CSS/NavFooter.css">

</head>
<body>
    <nav class="nav">
        <a th:href="@{/Tasks}">Ver Tareas</a>
        <a th:href="@{/Session}">iniciar Sesion</a>
        <a th:href="@{/Assigment}">Asignar</a>
    </nav>
    <div class="container" th:each="task : ${tasks}" >
        <p th:text="${task.idtarea}">id</p>
        <h1 th:text="${task.titulo}">Titulo</h1>
        <p class="Description" th:text="${task.descripcion}">Descripcion</p>
        <p>Autor:</p>
        <p class="important" th:text="${task.usuario}">autor</p>
        <p>Destinatario</p>
        <p class="important" th:text="${task.destinatario}">destinatario</p>
        <p>Fecha de publicación</p>
        <p class="important" th:text="${task.fechai}">date</p>
        <p>Fecha de entrega</p>
        <p class="important" th:text="${task.fechaf}">date</p>
        <p>Estado:</p>
        <p class="statusTask" >estado</p>
    </div>
    <footer  class="footer">
        <a th:href="@{/}">Volver</a>
</footer>
</body>
</html>
